@media (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  #main {
    flex-direction: column;
  }
  #section-1 {
    order: 2;
    width: 100% !important;
    height: 29vw;
    overflow: hidden;
    justify-content: center;
  }

  .left {
    top: -40vw;
    left: 40vw;
    display: flex;
    rotate: 90deg;
    padding-left: 2vw;
    width: 4.5vw;
    height: 114vw;
    position: relative;
  }

  #section-1-1 {
    padding: 0;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
  }

  .right1 img,
  .right2 img,
  .right3 img,
  .right4 img {
    width: 10vw;
    height: 10vw;
  }

  .right1 {
    animation: rotate768Right1 6s linear infinite alternate;
  }

  .right2 {
    animation: rotate768Right2 3s linear infinite alternate;
  }

  .right3 {
    animation: rotate768Right3 2s linear infinite alternate;
  }

  .right4 {
    animation: rotate768Right4 2.5s linear infinite alternate;
  }

  @keyframes rotate768Right1 {
    0% {
      transform: translate(0vw);
    }
    100% {
      transform: translate(60vw);
    }
  }

  @keyframes rotate768Right2 {
    0% {
      transform: translate(0vw);
    }
    100% {
      transform: translateX(57vw);
    }
  }

  @keyframes rotate768Right3 {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(45vw);
    }
  }

  @keyframes rotate768Right4 {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(40vw);
    }
  }

  #section-2-all {
    order: 1;
    width: 100%;
  }
  #section-2 {
    width: 55vw;
    height: 54.8vw;
  }
  #section2-2-1 {
    width: 45.4vw;
    height: 27vw;
    font-size: 1.86vw;
  }
  #section2-2-2 {
    width: 45.4vw;
    height: 27.8vw;
  }

  .mask {
    top: 35.2%;
    left: 40%;
  }
  .mask img {
    width: 33vw;
    height: 34vw;
  }

  .eyes {
    top: 41.5%;
    left: 85.5%;
  }

  .eyes img {
    width: 18vw;
    height: 7.6vw;
  }

  .emotion1 img {
    width: 6vw;
    height: 5vw;
  }

  .emotion2 img {
    width: 4vw;
    height: 3vw;
  }

  .emotion3 img {
    width: 3.5vw;
    height: 2.2vw;
  }

  .square1 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square1:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square2 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 5vw;
    transition: border-radius 0.1s ease-in-out;
  }

  .square2:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square3 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 9.5vw;
    transition: border-radius 0.1s ease-in-out;
  }

  .square3:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square4 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 13.96vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square4:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square5 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 18.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square5:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square6 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 23vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square6:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square7 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 27.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square7:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square8 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 31.955vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square8:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square9 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 36.44vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square9:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square10 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.57vw;
    left: 40.94vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square10:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  /* другой ряд */
  .square12 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 5%;
    top: 5vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square12:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square13 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 4.95vw;
    left: 5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square13:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square14 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 4.95vw;
    left: 9.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square14:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square15 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 4.95vw;
    left: 13.96vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square15:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  .square16 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 4.95vw;
    left: 18.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square16:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  .square17 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 4.95vw;
    left: 22.95vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square17:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  .square18 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 4.95vw;
    left: 27.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square18:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square19 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 4.95vw;
    left: 31.955vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square19:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square20 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 4.95vw;
    left: 36.44vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square20:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square21 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 5%;
    top: 4.95vw;
    left: 40.94vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square21:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  /* новый ряд */
  .square23 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 9.5vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square23:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square24 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 20%;
    top: 9.45vw;
    left: 5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square24:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square25 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 9.45vw;
    left: 9.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square25:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square26 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 9.45vw;
    left: 13.96vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square26:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square27 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 9.45vw;
    left: 18.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square27:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square28 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 9.45vw;
    left: 22.95vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square28:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square29 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 9.45vw;
    left: 27.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square29:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square30 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 9.45vw;
    left: 31.955vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square30:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square31 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 20%;
    top: 9.45vw;
    left: 36.44vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square31:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square32 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 9.45vw;
    left: 40.94vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square32:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  .square35 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 14.05vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-out;
  }
  .square35:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square36 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 20%;
    top: 14.05vw;
    left: 5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square36:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square37 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 14.05vw;
    left: 9.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square37:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square38 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 14.05vw;
    left: 13.96vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square38:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square39 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 14.05vw;
    left: 18.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square39:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square40 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 14.05vw;
    left: 22.95vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square40:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square41 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 14.05vw;
    left: 27.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square41:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square42 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 14.05vw;
    left: 31.955vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square42:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square43 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 20%;
    top: 14.05vw;
    left: 36.44vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square43:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square44 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 14.05vw;
    left: 40.94vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square44:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  /* ещё ряд */
  .square45 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 5%;
    top: 18.6vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square45:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square46 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 18.6vw;
    left: 5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square46:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square47 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 18.6vw;
    left: 9.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square47:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square48 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 18.6vw;
    left: 13.96vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square48:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square49 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 18.6vw;
    left: 18.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square49:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square50 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 18.6vw;
    left: 22.95vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square50:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square51 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 18.6vw;
    left: 27.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square51:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square52 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 18.6vw;
    left: 31.955vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square52:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square53 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 18.6vw;
    left: 36.44vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square53:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square54 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 5%;
    top: 18.6vw;
    left: 40.94vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square54:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  /* последний ряд */
  .square56 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square56:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square57 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square57:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square58 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 9.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square58:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square59 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 13.96vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square59:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square60 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 18.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square60:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square61 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 22.95vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square61:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square62 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 27.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square62:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square63 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 31.955vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square63:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square64 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 36.44vw;
  }
  .square64:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square65 {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 23.2vw;
    left: 40.94vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square65:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  .section-3-right-top {
    width: 67.5vw;
  }
  .section-3-right-bottom1 {
    width: 67.5vw;
  }
  .section-3-right-bottom2 {
    width: 67.5vw;
  }
}

@media (max-width: 414px) {
  * {
    box-sizing: border-box;
  }
}

@media (max-width: 414px) {
  .stroka div:nth-of-type(1) {
    font-family: "TTLakesNeueEduRegular";
    font-size: 6.8vw;
    width: 236.7%;
    height: 13.5vw;
    gap: 4vw;
  }
  .logo,
  .logo1 {
    width: 6.2vw;
    height: 7.6vw;
  }

  #section-2 {
    width: 100%;
    height: 94.8vw;
    max-width: 100%;
    overflow: hidden;
  }

  .back2 img {
    width: 105%;
    height: 116%;
    max-width: 105%;
  }

  #section2-2-1 {
    width: 100%;
    height: 45vw;
    font-size: 3.8vw;
    max-width: 100%;
    padding: 4vw;
  }
  @keyframes spaceletter1-1 {
    0% {
      letter-spacing: 0vw;
    }
    100% {
      letter-spacing: 0.8vw;
    }
  }

  @keyframes spaceletter2-1 {
    0% {
      letter-spacing: 0vw;
    }
    100% {
      letter-spacing: 0.8vw;
    }
  }

  @keyframes spaceletter3-1 {
    0% {
      letter-spacing: 0vw;
    }
    100% {
      letter-spacing: 0.8vw;
    }
  }

  @keyframes spaceletter4-1 {
    0% {
      letter-spacing: 0vw;
    }
    100% {
      letter-spacing: 0.8vw;
    }
  }

  @keyframes spaceletter5-1 {
    0% {
      letter-spacing: 0vw;
    }
    100% {
      letter-spacing: 0.8vw;
    }
  }

  @keyframes spaceletter6-1 {
    0% {
      letter-spacing: 0vw;
    }
    100% {
      letter-spacing: 0.8vw;
    }
  }

  @keyframes spaceletter7-1 {
    0% {
      letter-spacing: 0vw;
    }
    100% {
      letter-spacing: 0.8vw;
    }
  }

  @keyframes spaceletter8-1 {
    0% {
      letter-spacing: 0vw;
    }
    100% {
      letter-spacing: 0.8vw;
    }
  }
  .bold1 {
    animation: spaceletter1-1 0.85s infinite alternate linear;
  }

  .bold2 {
    animation: spaceletter2-1 0.9s infinite alternate linear;
  }

  .bold3 {
    animation: spaceletter3-1 0.95s infinite alternate linear;
  }

  .bold4 {
    animation: spaceletter4-1 1s infinite alternate linear;
  }

  .bold5 {
    animation: spaceletter5-1 1.05s infinite alternate linear;
  }

  .bold6 {
    animation: spaceletter5-1 1.1s infinite alternate linear;
  }

  .bold7 {
    animation: spaceletter5-1 1.15s infinite alternate linear;
  }

  .bold8 {
    animation: spaceletter5-1 1.2s infinite alternate linear;
  }

  #section-2-bottom {
    width: 100%;
    height: 66vw;
    max-width: 100%;
  }

  #section-1 {
    order: 2;
    width: 100% !important;
    height: 29vw;
    overflow: hidden;
    justify-content: center;
  }

  #section-1-1 {
    padding: 0;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
  }

  .left {
    top: -30vw;
  }

  .right1 img,
  .right2 img,
  .right3 img,
  .right4 img {
    width: 13vw;
    height: 13vw;
  }

  #section2-2-2 {
    width: 100%;
    height: 61vw;
    max-width: 100%;
    overflow: hidden;
  }
  .square1 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square1:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square2 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 10.5vw;
    transition: border-radius 0.1s ease-in-out;
  }

  .square2:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square3 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 20.5vw;
    transition: border-radius 0.1s ease-in-out;
  }

  .square3:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square4 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 30.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square4:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square5 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 40.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square5:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square6 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 50.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square6:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square7 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 60.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square7:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square8 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 70.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square8:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square9 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 80.6vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square9:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square10 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #5236b9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 0.8vw;
    left: 90.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square10:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  /* другой ряд */
  .square12 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 5%;
    top: 10.8vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square12:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square13 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 10.8vw;
    left: 10.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square13:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square14 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 10.8vw;
    left: 20.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square14:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square15 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 10.8vw;
    left: 30.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square15:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  .square16 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 10.8vw;
    left: 40.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square16:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  .square17 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 10.8vw;
    left: 50.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square17:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  .square18 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 10.8vw;
    left: 60.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square18:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square19 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 10.8vw;
    left: 70.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square19:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square20 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 20%;
    top: 10.8vw;
    left: 80.6vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square20:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square21 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #623dc3;
    stroke-width: 34px;
    border-radius: 5%;
    top: 10.8vw;
    left: 90.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square21:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  /* новый ряд */
  .square23 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 20.9vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }

  .square23:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square24 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 20%;
    top: 20.9vw;
    left: 10.55vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square24:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square25 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 20.9vw;
    left: 20.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square25:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square26 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 20.9vw;
    left: 30.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square26:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square27 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 20.9vw;
    left: 40.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square27:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square28 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 20.9vw;
    left: 50.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square28:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square29 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 20.9vw;
    left: 60.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square29:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square30 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 20.9vw;
    left: 70.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square30:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square31 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 20%;
    top: 20.9vw;
    left: 80.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square31:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square32 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 20.9vw;
    left: 90.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square32:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square35 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 30.99vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-out;
  }
  .square35:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square36 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 20%;
    top: 30.99vw;
    left: 10.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square36:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square37 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 30.99vw;
    left: 20.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square37:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square38 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 30.99vw;
    left: 30.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square38:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square39 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 30.99vw;
    left: 40.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square39:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square40 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 30.99vw;
    left: 50.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square40:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square41 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 30.99vw;
    left: 60.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square41:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square42 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 40%;
    top: 30.99vw;
    left: 70.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square42:hover {
    border-radius: 5%;
    background-color: #bd67ff;
  }
  .square43 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 20%;
    top: 30.99vw;
    left: 80.6vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square43:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square44 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #6b41c9;
    stroke-width: 34px;
    border-radius: 5%;
    top: 30.99vw;
    left: 90.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square44:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  /* ещё ряд */
  .square45 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 5%;
    top: 40.95vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square45:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square46 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 40.95vw;
    left: 10.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square46:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square47 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 40.95vw;
    left: 20.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square47:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square48 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 40.95vw;
    left: 30.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square48:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square49 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 40.95vw;
    left: 40.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square49:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square50 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 40.95vw;
    left: 50.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square50:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square51 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 40.95vw;
    left: 60.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square51:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square52 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 40.95vw;
    left: 70.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square52:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square53 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 20%;
    top: 40.95vw;
    left: 80.6vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square53:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square54 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #854dda;
    stroke-width: 34px;
    border-radius: 5%;
    top: 40.95vw;
    left: 90.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square54:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  /* последний ряд */
  .square56 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 0.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square56:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square57 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 10.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square57:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square58 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 20.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square58:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square59 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 30.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square59:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square60 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 40.45vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square60:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square61 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 50.5vw;
    transition: border-radius 0.1s ease-in-out;
  }

  .square61:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square62 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 60.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square62:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square63 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 70.5vw;
    transition: border-radius 0.1s ease-in-out;
  }

  .square63:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square64 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 80.6vw;
  }
  .square64:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }
  .square65 {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #9052e2;
    stroke-width: 34px;
    border-radius: 5%;
    top: 50.99vw;
    left: 90.5vw;
    transition: border-radius 0.1s ease-in-out;
  }
  .square65:hover {
    border-radius: 40%;
    background-color: #bd67ff;
  }

  .feel1-1,
  .feel1-2,
  .feel1-3,
  .feel1-4,
  .feel1-5,
  .feel1-6,
  .feel1-7,
  .feel1-8,
  .feel1-9,
  .feel1-10,
  .feel1-11 {
    font-size: 4.5vw;
    padding-top: 1.4vw;
  }

  #section-2-all {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  #section-2-top {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  #section2-2 {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  #section-1 {
    order: 2;
    width: 100%;
    height: 41vw;
    overflow: hidden;
    justify-content: center;
    max-width: 100%;
  }

  .stroka,
  .stroka2,
  #section-3-all,
  #section-4-all {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  #section-3-all {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .section-3-left-bottom {
    object-fit: cover;
    width: 100.5vw;
    height: 121.6vw;
    background-image: url(../images/DHE.svg);
    background-size: 346.5vw 121.6vw;
  }

  .section-3-left-top {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100.5vw;
    height: 52.3vw;
    background: radial-gradient(#000000 50%, #ffffff 400%);
    z-index: -1;
  }
  .pink1 {
    width: 17.5vw;
    height: 17.5vw;
    bottom: 18.25vw;
    right: 89.75vw;
  }
  .pink2 {
    width: 17.5vw;
    height: 17.5vw;
    bottom: -9.75vw;
    right: 38.75vw;
  }
  .white {
    width: 146.5vw;
    height: 62.5vw;
    bottom: -29.75vw;
    right: 5.75vw;
  }
  .white2 {
    width: 146.5vw;
    height: 62.5vw;
    bottom: -29.75vw;
    right: 5.75vw;
  }
  .white3 {
    width: 146.5vw;
    height: 62.5vw;
    bottom: -29.75vw;
    right: 5.75vw;
  }

  .white-back {
    background-color: white;
    position: absolute;
    width: 100vw;
    height: 42.6vw;
    top: 52.3vw;
    z-index: -1;
  }

  .section-3-right-top {
    width: 100vw;
    height: 100vw;
  }

  .section-3-right-bottom1 {
    width: 100vw;
  }

  .section-3-right-bottom1 {
    height: 11.5vw;
  }

  .section-3-right-bottom2 {
    height: 40.3vw;
    width: 98.5vw;
  }
  .Z,
  .A,
  .G,
  .R,
  .Y,
  .Z2,
  .K,
  .A2,
  .S,
  .I,
  .S2,
  .T,
  .E,
  .M,
  .RUSSIA {
    width: 6.6vw;
    height: 8.25vw;
  }
  .words1 {
    position: absolute;
    align-items: center;
    width: 6.94vw;
    height: 6.94vw;
    animation: words1rotation 6s linear infinite alternate;
  }
  .words2 {
    position: absolute;
    align-items: center;
    width: 13.7vw;
    height: 13.7vw;
    animation: words1rotation 7s linear infinite alternate;
  }

  .words3 {
    position: absolute;
    align-items: center;
    width: 22.17vw;
    height: 22.17vw;
    animation: words1rotation 8s linear infinite alternate;
  }

  .words4 {
    position: absolute;
    align-items: center;
    width: 40.1vw;
    height: 40.1vw;
    animation: words1rotation 9s linear infinite alternate;
  }

  .words5 {
    position: absolute;
    align-items: center;
    width: 38.28vw;
    height: 38.28vw;
    animation: words1rotation 10s linear infinite alternate;
  }

  .words6 {
    position: absolute;
    align-items: center;
    width: 64.71vw;
    height: 64.71vw;
    animation: words1rotation 9s linear infinite alternate;
  }

  .words7 {
    position: absolute;
    align-items: center;
    width: 57.84vw;
    height: 72.84vw;
    animation: words1rotation 8s linear infinite alternate;
  }

  .words8 {
    position: absolute;
    align-items: center;
    width: 80.93vw;
    height: 172.93vw;
    padding-top: 0.3vw;
    animation: words1rotation 7s linear infinite alternate;
  }

  .words9 {
    position: absolute;
    align-items: center;
    width: 88.74vw;
    height: 240.74vw;
    padding-top: 2.3vw;
    animation: words1rotation 6s linear infinite alternate;
  }

  .words10 {
    position: absolute;
    align-items: center;
    width: 90.8vw;
    height: 90.8vw;
    padding-top: 0vw;
    animation: words1rotation 7s linear infinite alternate;
  }

  .words11 {
    position: absolute;
    align-items: center;
    width: 101.44vw;
    height: 101.44vw;
    animation: words1rotation 8s linear infinite alternate;
  }

  .words12 {
    position: absolute;
    align-items: center;
    width: 112.5vw;
    height: 112.5vw;
    padding-left: 0.2vw;
    animation: words1rotation 9s linear infinite alternate;
  }

  .words13 {
    position: absolute;
    align-items: center;
    width: 122.6vw;
    height: 122.6vw;
    padding-top: 0.3vw;

    animation: words1rotation 10s linear infinite alternate;
  }

  .words14 {
    position: absolute;
    align-items: center;
    width: 132.5vw;
    height: 135.5vw;
    padding-bottom: 0.3vw;
    animation: words1rotation 6s linear infinite alternate;
  }

  .line1 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    right: 1.5vw;
    background-color: white;
    animation: line2-1 2s cubic-bezier(0.82, -0.03, 0.37, 0.96) alternate
      infinite;
  }

  .line2 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    background-color: white;
    animation: line2-1 2s cubic-bezier(0.42, 0, 0.45, 0.99) alternate infinite;
  }

  .line3 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    background-color: white;
    animation: line2-1 2s cubic-bezier(0.53, 0, 0.1, 0.99) alternate infinite;
  }

  .line4 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    background-color: white;
    animation: line2-2 2s cubic-bezier(1, 0.04, 0.39, 1.01) alternate infinite;
  }

  .line5 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    background-color: white;
    animation: line2-2 2s cubic-bezier(1, 0.04, 0.39, 1.01) alternate infinite;
  }

  .line6 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    background-color: white;
    animation: line2-2 2s cubic-bezier(0.53, 0, 0.1, 0.99) alternate infinite;
  }

  .line7 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    background-color: white;
    animation: line2-2 2s cubic-bezier(0.42, 0, 0.45, 0.99) alternate infinite;
  }

  .line8 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    background-color: white;
    animation: line2-2 2s cubic-bezier(0.82, -0.03, 0.37, 0.96) alternate
      infinite;
  }

  .line9 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    background-color: white;
    animation: line2-2 2s cubic-bezier(0.82, -0.03, 0.37, 0.96) alternate
      infinite;
  }

  .line10 {
    position: absolute;
    width: 0.6vw;
    height: 6vw;
    top: 2.7vw;
    left: 1.5vw;
    background-color: white;
    animation: line2-2 2s cubic-bezier(0.82, -0.03, 0.37, 0.96) alternate
      infinite;
  }

  @keyframes line2-1 {
    0% {
      transform: translateX(0vw);
    }
    50% {
      transform: translateX(47vw);
    }
    100% {
      transform: translateX(96vw);
    }
  }

  @keyframes line2-2 {
    0% {
      transform: translateX(96vw);
    }
    50% {
      transform: translateX(47vw);
    }
    100% {
      transform: translateX(0vw);
    }
  }

  .section-3-left-bottom {
    object-fit: cover;
    width: 102.5vw;
    height: 124.6vw;
    background-image: url(../images/DHE.svg);
    background-size: 341.5vw 127.6vw;
    animation: section-3-left-bottom1 1.5s steps(1) infinite;
  }

  @keyframes section-3-left-bottom1 {
    0% {
      background-position-x: -21.55vw;
    }
    33% {
      background-position-x: -120.65vw;
    }
    66% {
      background-position-x: -219.83vw;
    }
  }

  #section-4-all {
    flex-direction: column-reverse;
  }
  .section-4-left {
    width: 100vw;
    height: 55vw;
    background-size: 86vw;
    background-position-x: 9vw;
  }

  .square4-1 {
    top: 38.4vw;
    left: -8vw;
    width: 18vw;
    height: 20vw;
  }
  .square4-2 {
    top: 36.5vw;
    left: -13.5vw;
    width: 27vw;
    height: 27vw;
  }
  .square4-3 {
    top: 35.5vw;
    left: -9.5vw;
    width: 27vw;
    height: 27vw;
  }
  .square4-4 {
    top: 35.5vw;
    left: -3.5vw;
    width: 27vw;
    height: 27vw;
  }

  .square4-5 {
    top: 34.2vw;
    left: -0.5vw;
    width: 27vw;
    height: 27vw;
    transform: rotate(123deg);
  }
  .square4-6 {
    top: 32.8vw;
    left: 4vw;
    width: 28vw;
    height: 27vw;
    transform: rotate(119deg);
  }
  .square4-7 {
    top: 30.8vw;
    left: 8vw;
    width: 28.5vw;
    height: 28.5vw;
  }
  .square4-8 {
    top: 30vw;
    left: 12.3vw;
    width: 27.5vw;
    height: 27.5vw;
  }
  .square4-9 {
    top: 28.5vw;
    left: 15.2vw;
    width: 27.5vw;
    height: 27.5vw;
    transform: rotate(109deg);
  }
  .square4-10 {
    top: 26.5vw;
    left: 17.2vw;
    width: 27.5vw;
    height: 27.5vw;
    transform: rotate(108deg);
  }
  .square4-11 {
    top: 23.7vw;
    left: 21.8vw;
    width: 27.5vw;
    height: 27.5vw;
    transform: rotate(105deg);
  }
  .square4-12 {
    top: 19.4vw;
    left: 22.5vw;
    width: 28.5vw;
    height: 28.5vw;
    transform: rotate(99deg);
  }
  .square4-13 {
    top: 16.4vw;
    left: 25vw;
    width: 29.5vw;
    height: 29.5vw;
    transform: rotate(94deg);
  }
  .square4-14 {
    top: 14vw;
    left: 27.5vw;
    width: 29.5vw;
    height: 29.8vw;
    transform: rotate(91deg);
  }
  .square4-15 {
    top: 11.5vw;
    left: 31.5vw;
    width: 29.5vw;
    height: 29.8vw;
    transform: rotate(87deg);
  }
  .square4-16 {
    top: 8.7vw;
    left: 34vw;
    width: 29.5vw;
    height: 29.8vw;
    transform: rotate(86deg);
  }
  .square4-17 {
    top: 5.3vw;
    left: 36.6vw;
    width: 30.5vw;
    height: 30.8vw;
    transform: rotate(83deg);
  }
  .square4-18 {
    top: 2.5vw;
    left: 41.4vw;
    width: 30.5vw;
    height: 30.8vw;
    transform: rotate(81deg);
  }
  .square4-19 {
    top: -2.5vw;
    left: 44.4vw;
    width: 31.5vw;
    height: 31.8vw;
    transform: rotate(80deg);
  }
  .square4-20 {
    top: -9.5vw;
    left: 48.4vw;
    width: 31.5vw;
    height: 31.8vw;
  }
  .square4-21 {
    top: -14.5vw;
    left: 52.4vw;
    width: 32vw;
    height: 32vw;
    transform: rotate(80deg);
  }
  .section-4-right {
    width: 101vw;
    height: 60vw;
  }
  .robo1,
  .robo2,
  .robo3,
  .robo4 {
    width: 40vw;
    height: 50vw;
    object-fit: contain;
  }

  .stroka2 div:nth-of-type(1) {
    font-family: "TTLakesNeueEduRegular";
    font-size: 6.8vw;
    width: 363.7%;
    height: 13.5vw;
    gap: 4vw;
  }
}
