@keyframes moveRun {
  0% {
    transform: translateX(-1.07vw);
  }
  100% {
    transform: translateX(-98.18%);
  }
}

/* фигуры туда сюда на 1 фрейме */

@keyframes rotateRight1 {
  0% {
    transform: translateY(0vw) rotate(0deg);
  }
  100% {
    transform: translateY(60vw) rotate(300deg);
  }
}

@keyframes rotateRight2 {
  0% {
    transform: translateY(-6vw) rotate(0deg);
  }
  100% {
    transform: translateY(57vw) rotate(300deg);
  }
}

@keyframes rotateRight3 {
  0% {
    transform: translateY(-13vw) rotate(0deg);
  }
  100% {
    transform: translateY(45vw) rotate(300deg);
  }
}

@keyframes rotateRight4 {
  0% {
    transform: translateY(-20vw) rotate(0deg);
  }
  100% {
    transform: translateY(40vw) rotate(300deg);
  }
}

@keyframes rotate768Right1-mobile {
  0% {
    transform: translateY(0vw);
  }
  100% {
    transform: translateY(60vw);
  }
}

@keyframes rotate768Right2-mobile {
  0% {
    transform: translate(0vw);
  }
  100% {
    transform: translateX(57vw);
  }
}

@keyframes rotate768Right3-mobile {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(45vw);
  }
}

@keyframes rotate768Right4-mobile {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(40vw);
  }
}

/* фрейм с роботом */

@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin3 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes watch {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(1vw, 0);
  }
  25% {
    transform: translate(1vw, 0.5vw);
  }
  50% {
    transform: translate(-0.4vw, 0.5vw);
  }
  64% {
    transform: translate(-0.4vw, 0.5vw);
  }
  70% {
    transform: translate(-0.4vw, 1vw);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes spaceletter1 {
  0% {
    letter-spacing: 0vw;
  }
  100% {
    letter-spacing: 0.33vw;
  }
}

@keyframes spaceletter2 {
  0% {
    letter-spacing: 0vw;
  }
  100% {
    letter-spacing: 0.33vw;
  }
}

@keyframes spaceletter3 {
  0% {
    letter-spacing: 0vw;
  }
  100% {
    letter-spacing: 0.33vw;
  }
}

@keyframes spaceletter4 {
  0% {
    letter-spacing: 0vw;
  }
  100% {
    letter-spacing: 0.33vw;
  }
}

@keyframes spaceletter5 {
  0% {
    letter-spacing: 0vw;
  }
  100% {
    letter-spacing: 0.33vw;
  }
}

@keyframes spaceletter6 {
  0% {
    letter-spacing: 0vw;
  }
  100% {
    letter-spacing: 0.33vw;
  }
}

@keyframes spaceletter7 {
  0% {
    letter-spacing: 0vw;
  }
  100% {
    letter-spacing: 0.33vw;
  }
}

@keyframes spaceletter8 {
  0% {
    letter-spacing: 0vw;
  }
  100% {
    letter-spacing: 0.33vw;
  }
}

@keyframes feel1 {
  0% {
    transform: translateX(-70%);
  }
  100% {
    transform: translateX(90%);
  }
}
@keyframes feel2 {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(97%);
  }
}

@keyframes line {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(32.5vw);
  }
  100% {
    transform: translateX(64vw);
  }
}

@keyframes line2 {
  0% {
    transform: translateX(64vw);
  }
  50% {
    transform: translateX(32.5vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes error {
  0%,
  100% {
    background-color: #000000; /* Красный */
  }
  33% {
    background-color: #bd67ff; /* Черный */
  }
  66% {
    background-color: #ffffff; /* Белый */
    color: #000000; /* Меняем цвет текста на черный */
  }
}

@keyframes whiteInteractive {
  0% {
    transform: translate(0) rotate(-88deg);
  }
  100% {
    transform: translate(0) rotate(85deg);
  }
}

@keyframes words1rotation {
  0% {
    transform: translateY(0vw) rotate(0deg);
  }
  100% {
    transform: translateY(0vw) rotate(300deg);
  }
}

@keyframes section-3-left-bottom {
  0% {
    background-position-x: -0.19vw;
  }
  33% {
    background-position-x: -32.5vw;
  }
  66% {
    background-position-x: -64.83vw;
  }
}

@keyframes Z1 {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(4.5);
  }
}

@keyframes A {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(3.5);
  }
}

@keyframes G {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(2.5);
  }
}

@keyframes R {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(3.5);
  }
}

@keyframes Y {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(4.5);
  }
}

@keyframes Z2 {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(3.5);
  }
}

@keyframes K {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(2.5);
  }
}

@keyframes A2 {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(3.5);
  }
}

@keyframes S {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(4.5);
  }
}

@keyframes I {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(3.5);
  }
}

@keyframes S2 {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(2.5);
  }
}

@keyframes T {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(3.5);
  }
}

@keyframes E {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(4.5);
  }
}

@keyframes M {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(3.5);
  }
}

@keyframes RUSSIA {
  0% {
    transform: scaleY(0);
  }
  0% {
    transform: scaleY(4.5);
  }
}
